# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/courseProject/dist
/courseProject/tmp
/courseProject/out-tsc
/courseProject/bazel-out

# Node
/courseProject/node_modules
/courseProject/npm-debug.log
/courseProject/yarn-error.log

# IDEs and editors
/courseProject/.idea/
/courseProject/.project
/courseProject/.classpath
/courseProject/.c9/
/courseProject/*.launch
/courseProject/.settings/
/courseProject/*.sublime-workspace

# Visual Studio Code
/courseProject/.vscode/*
/courseProject/!.vscode/settings.json
/courseProject/!.vscode/tasks.json
/courseProject/!.vscode/launch.json
/courseProject/!.vscode/extensions.json
/courseProject/.history/*

# Miscellaneous
courseProject/.angular/cache
/courseProject/.sass-cache/
/courseProject/connect.lock
/courseProject/coverage
/courseProject/libpeerconnection.log
/courseProject/testem.log
/courseProject/typings

# System files
/courseProject/.DS_Store
/courseProject/Thumbs.db
