<form [formGroup]="loginForm" (ngSubmit)="login()" class="hashadchan-login-form">
    <button type="button" class="btn btn-primary lecture-button" (click)="lectueClicked()">Enter as a lecturer</button>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" formControlName="name">
        <ng-container *ngIf="loginClicked && loginForm.controls['name'].errors as nameError">
            <p class="error-message" *ngIf="nameError['required']">This field is required</p>
            <p class="error-message" *ngIf="nameError['minlength']">This field must be at least 3 characters</p>
        </ng-container>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
        <ng-container *ngIf="loginClicked && loginForm.controls['password'].errors as passwordError">
            <p class="error-message" *ngIf="passwordError['required']">This field is required</p>
            <p class="error-message" *ngIf="passwordError['minlength']">This field must be at least 8 characters</p>
            <p class="error-message" *ngIf="incorrectPassword">The password isn't correct</p>
        </ng-container>
    </div>
    <div *ngIf="isLecture" class="form-group">
        <input type="text" class="form-control" placeholder="Course Name" formControlName="courseName">
        <ng-container *ngIf=" loginClicked && incorrectCourse">
            <p class="error-message">The course name isn't correct</p>
        </ng-container>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Log in</button>
</form>
